p   {  
    background-color: sienna;
}

.not-important {
    display:none;
}

@media (min-width: 576px) {
    .not-important {
        display: block;
    }
    
    p {
        background-color: red;
    }
}

@media (min-width: 768px) {
    p {
        background-color: pink;
    }
}



